Linked applications Bitbucket
Teams
Projects
Repositories
Snippets
owner/repository
Find a repository…
 Logged in as hoangthangcao
 
Thang Hand  tmdt_ios
Source

Branchmaster   Check out branch Source  Diff  History tmdt_ios / .gitignore
 9bec2f0 2016-05-25  Full commit Blame Raw   Edit   More file actions
 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
MarketPlace/build/
MarketPlace/DerivedData/
/MarketPlace/.DS_Store
## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
MarketPlace/MarketPlace.xcodeproj/xcuserdata/
MarketPlace/MarketPlace.xcodeproj/project.xcworkspace/xcuserdata/
## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
MarketPlace/timeline.xctimeline
MarketPlace/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
MarketPlace/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

MarketPlace/Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md
Pods
Podfile.lock
Blog  Support  Plans & pricing  Documentation  API  Site status  Version info  Terms of service  Privacy policy
JIRA Software  Confluence  Bamboo  SourceTree  HipChat
Atlassian